html {
  font-size: calc((100vw - 320px) / 140 + 16px);
}
body {
  font-size: 1rem;
}
@media screen and (min-width: 481px){
  body {
    font-size: 1.5rem;
  }  
}
body {
  background-color: #EBECF0;
}
div#formWrapper {
    width:80vw;
    margin: auto;
}
div#thxMessage > p {
  color: #61677C;
  font-weight: bold;
  text-align: center;
}
div.centering {
  text-align: center;
}
button, input {
  border: 0;
  outline: 0;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}
label {
  display: block;
  margin-bottom: 24px;
}
input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width:80%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.btbt {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
.btbt:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.btbt:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}